.projects {
    padding: 24px;
    min-height: calc(100vh - 100px);
    background-color: #D3D0CB;
    padding-bottom: 48px;

    .grid {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .project-card {
            flex-basis: 250px;
            width: 100%;
        }
    }

    h1 {
        text-align: center;
        padding-bottom: 24px;
    }
}

@media all and (min-width: 768px) {
    .projects {
        .grid {
            flex-direction: row;
            flex-wrap: wrap;

            .project-card {
                flex-basis: 31%;
                height: 250px;
                flex-grow: 1;
            }
        }
    }
}
