.project-card {
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
}