.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: sans-serif;
  background-color: black;
  color: white;
  border: 3px solid red;
}

.page {
  flex-grow: 1;
  z-index: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: white;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  margin-top: auto;
}

.hero__img {
  background-color: brown;
  width: 100%;
  height: 45vh;
}

.hero__heading {
  background-color: rgb(90, 186, 212);
  width: 100%;
  height: 25vh;
}
